# Project files
.idea
.vc
.cmake

# C#
bin
obj

# NodeJS
node_modules

# Special folders & files
dist
out
*.log

images
test/temp
test/src/**/*
!test/src/**/*.basm
!test/src/**/*.hasm

CMakeFiles

./basm
./basm2nasm
./dbasm
./br
./*.exe
./*.dll
./*.dll.a
./*.so

Testing
build.ninja
CMakeCache.txt
cmake_install.cmake